@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Karla", sans-serif;
}
body {
  background-color: var(--Light-Gray);
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7rem 25rem;
  background-color: white;
  border-radius: 0.5rem;
}
.top-side h2 {
  color: var(--cyan);
}
.top-side :nth-child(2) {
  color: var(--bright-yellow);
  font-weight: 900;
}
#top-side-description {
  font-weight: lighter;
  color: slategrey;
}
.top-side {
  padding: 2.5rem;
}
.bottom-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: max-content;
  align-items: stretch;
}

.bottom-left {
  background-color: var(--Grayish-Blue);
  flex: 1 1;
}
.bottom-right {
  background-color: var(--cyan);
  flex: 1 1;
}
.monthly {
  padding: 2rem;
}
.monthly span:first-child {
  font-size: 2rem;
  margin-right: 1rem;
}
.monthly span:last-child {
  color: #ffffff77;
}
.monthly :nth-child(4) {
  color: white;
  background-color: var(--bright-yellow);
  width: 19em;
  height: 2em;
  border-radius: 0.4rem;
  border: none;
  margin-top: 1rem;
  box-shadow: 2px 2px 10px 2px #77777777;
}
.why-us {
  padding: 2rem;
}
.monthly {
  color: var(--white);
  font-weight: 100;
}

.why-us {
  color: var(--white);
}

@media (max-width: 1200px) {
  body {
    overflow: scroll;
  }
  .bottom-side {
    flex-direction: column;
  }
  .monthly :nth-child(4) {
    width: 10em;
  }
  .container {
    margin: 2rem 3rem;
  }
}
